.aboutus-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aboutus-aboutus {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.aboutus-rectangle12 {
  top: 79px;
  left: -8.881784197001252e-16px;
  width: 100%;
  height: 365px;
  position: absolute;
}
.aboutus-top-menu {
  top: 145px;
  left: 300px;
  width: 1301px;
  height: 262px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-text {
  color: rgba(11, 34, 67, 1);
  width: 595px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text001 {
  font-weight: 700;
}
.aboutus-text013 {
  left: 774px;
  color: rgba(11, 34, 67, 1);
  width: 527px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text014 {
  font-weight: 700;
}
.aboutus-text026 {
  top: 460px;
  left: 950px;
  color: rgba(0, 0, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-boxes {
  top: 512px;
  left: 73px;
  width: 424px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-navlink {
  display: contents;
}
.aboutus-abdullah {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.aboutus-text031 {
  top: 229px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text033 {
  top: 252px;
  left: 15px;
  color: rgb(0, 0, 0);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-rectangle14 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-reda {
  top: 0px;
  left: 250px;
  width: 174px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-rectangle13 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-text034 {
  top: 229px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text036 {
  top: 252px;
  left: 20px;
  color: rgb(0, 0, 0);
  width: 150;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-rectangle141 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-abdul-latif {
  top: 0px;
  left: 500px;
  width: 174px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-rectangle131 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-text037 {
  top: 229px;
  left: -5px;
  color: rgb(0, 0, 0);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text038 {
  left: 40px;
  color: rgb(0, 0, 0);
  width: 100px;
  bottom: 4px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-rectangle142 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-main-menu {
  top: 17px;
  left: 200px;
  width: 1362px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-center-menu {
  top: 14px;
  left: 250px;
  width: 884px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-text039 {
  color: rgba(0, 0, 0, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text041 {
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text043 {
  left: 254px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text045 {
  left: 390px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text047 {
  left: 520px;
  color: rgba(0, 0, 0, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text049 {
  left: 650px;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text051 {
  left: 813px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-login {
  top: 0px;
  left: 1550px;
  width: 80px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(126, 189, 194, 1);
}
.aboutus-text053 {
  top: 15px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text055 {
  top: 13px;
  left: -100px;
  color: rgba(11, 34, 67, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-footer {
  top: 821px;
  left: 0px;
  width: 100%;
  height: 203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(11, 34, 67, 1);
}
.aboutus-down-menu {
  top: 31px;
  left: 200px;
  width: 1316px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-box1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-text057 {
  color: rgba(255, 255, 255, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-line1 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-text062 {
  top: 38px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text064 {
  top: 64px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text066 {
  top: 90px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text068 {
  top: 115px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-box2 {
  top: 0px;
  left: 284px;
  width: 120px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-line2 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-text070 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text072 {
  top: 38px;
  color: rgba(255, 255, 255, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text074 {
  top: 64px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text076 {
  top: 90px;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text078 {
  top: 137px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-box3 {
  top: 0px;
  left: 1050px;
  width: 120.00000762939453px;
  height: 129.44444465637207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.aboutus-text083 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-line21 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-text085 {
  top: 37.98614501953125px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text087 {
  top: 63.99310302734375px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text089 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  bottom: 27.01385498046875px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-text091 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 55px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-newsletter {
  top: 37px;
  left: 1400px;
  width: 168px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 1;
  justify-content: center;
}
.aboutus-text093 {
  top: 0px;
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-textinput {
  width: 166px;
  height: 36px;
  position: absolute;
  border-width: 0px;
}
.aboutus-rectangle11 {
  right: 0px;
  width: 45px;
  bottom: 0px;
  height: 36px;
  position: absolute;
}
.aboutus-text098 {
  top: 44px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 30px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .aboutus-top-menu {
    left: 160px;
    position: absolute;
  }
  .aboutus-text026 {
    left: 750px;
    position: absolute;
  }
  .aboutus-main-menu {
    left: 100px;
    position: absolute;
  }
  .aboutus-center-menu {
    left: 150px;
    position: absolute;
  }
  .aboutus-login {
    left: 1250px;
    position: absolute;
  }
  .aboutus-text078 {
    left: 450px;
    position: absolute;
  }
  .aboutus-box3 {
    left: 900px;
    position: absolute;
  }
  .aboutus-newsletter {
    left: 1100px;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .aboutus-top-menu {
    left: 10px;
    position: absolute;
  }
  .aboutus-text013 {
    left: 650px;
    position: absolute;
  }
  .aboutus-text026 {
    left: 550px;
    position: absolute;
  }
  .aboutus-center-menu {
    left: 70px;
    position: absolute;
  }
  .aboutus-login {
    left: 1000px;
    position: absolute;
  }
  .aboutus-down-menu {
    left: 10px;
    position: absolute;
  }
  .aboutus-box3 {
    left: 850px;
    position: absolute;
  }
  .aboutus-newsletter {
    left: 980px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .aboutus-text {
    top: -50px;
    width: 450px;
    position: absolute;
  }
  .aboutus-text013 {
    top: -50px;
    left: 500px;
    width: 450px;
    position: absolute;
  }
  .aboutus-text026 {
    left: 500px;
    position: absolute;
  }
  .aboutus-main-menu {
    left: 140;
    position: absolute;
  }
  .aboutus-center-menu {
    left: 30px;
    position: absolute;
  }
  .aboutus-text041 {
    left: 110px;
    position: absolute;
  }
  .aboutus-text043 {
    left: 214px;
    position: absolute;
  }
  .aboutus-text045 {
    left: 330px;
    position: absolute;
  }
  .aboutus-text047 {
    left: 440px;
    position: absolute;
  }
  .aboutus-text049 {
    left: 550px;
    position: absolute;
  }
  .aboutus-text051 {
    left: 683px;
    position: absolute;
  }
  .aboutus-login {
    left: 785px;
    width: 60px;
    position: absolute;
  }
  .aboutus-text053 {
    left: 10px;
    position: absolute;
  }
  .aboutus-text055 {
    left: -140px;
    position: absolute;
  }
  .aboutus-box2 {
    left: 200px;
    position: absolute;
  }
  .aboutus-text078 {
    left: 320px;
    position: absolute;
  }
  .aboutus-box3 {
    left: 720px;
    position: absolute;
  }
  .aboutus-newsletter {
    left: 810px;
    position: absolute;
  }
}
