.aboutus-ar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aboutus-ar-aboutus-ar {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.aboutus-ar-rectangle12 {
  top: 79px;
  left: -8.881784197001252e-16px;
  width: 100%;
  height: 365px;
  position: absolute;
}
.aboutus-ar-top-menu {
  top: 145px;
  left: 300px;
  width: 1301px;
  height: 262px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-text {
  color: rgba(11, 34, 67, 1);
  width: 595px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text01 {
  font-weight: 700;
}
.aboutus-ar-text13 {
  left: 774px;
  color: rgba(11, 34, 67, 1);
  width: 527px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text14 {
  font-weight: 700;
}
.aboutus-ar-boxes {
  top: 512px;
  left: 84px;
  width: 402px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-navlink {
  display: contents;
}
.aboutus-ar-abdullah {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.aboutus-ar-text26 {
  top: 226px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text28 {
  top: 252px;
  left: 19px;
  color: rgb(0, 0, 0);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-rectangle14 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-ar-reda {
  top: 0px;
  left: 250px;
  width: 152px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-rectangle13 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-ar-text29 {
  top: 226px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text31 {
  top: 252px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-rectangle141 {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-ar-abdul-latif {
  top: 0px;
  left: 500px;
  width: 174px;
  height: 275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-rectangle131 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-ar-text33 {
  top: 229px;
  left: 40px;
  color: rgb(0, 0, 0);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text34 {
  left: 40px;
  color: rgb(0, 0, 0);
  width: 120px;
  bottom: 4px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-rectangle142 {
  top: 0px;
  left: 11px;
  width: 152px;
  height: 221px;
  position: absolute;
}
.aboutus-ar-footer {
  top: 821px;
  left: 0px;
  width: 100%;
  height: 203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(11, 34, 67, 1);
}
.aboutus-ar-down-menu {
  top: 31px;
  left: 200px;
  width: 1338px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-box1 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-text35 {
  color: rgba(255, 255, 255, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-line1 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-ar-text37 {
  top: 38px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text39 {
  top: 64px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 69px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text41 {
  top: 90px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text43 {
  top: 115px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-box2 {
  top: 0px;
  left: 284px;
  width: 120px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-line2 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-ar-text45 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text47 {
  top: 38px;
  color: rgba(255, 255, 255, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text49 {
  top: 64px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text51 {
  top: 90px;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text53 {
  top: 137px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-box3 {
  top: 0px;
  left: 1050px;
  width: 120.00000762939453px;
  height: 132.77777862548828px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.aboutus-ar-text55 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-line21 {
  top: 30px;
  left: 0px;
  width: 120px;
  height: 1px;
  position: absolute;
}
.aboutus-ar-text57 {
  top: 37.98614501953125px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text59 {
  top: 63.99310302734375px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text61 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  bottom: 30.34718894958496px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text63 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 55px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Oswald;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-newsletter {
  top: 37px;
  left: 1400px;
  width: 202px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-textinput {
  top: 34px;
  width: 168;
  height: 36;
  position: absolute;
  border-width: 0px;
}
.aboutus-ar-text65 {
  color: rgba(255, 255, 255, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-rectangle11 {
  top: 34px;
  left: 123px;
  width: 45px;
  height: 36px;
  position: absolute;
}
.aboutus-ar-text67 {
  top: 44px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-main-menu {
  top: 17px;
  left: 200px;
  width: 1362px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-center-menu {
  top: 14px;
  left: 250px;
  width: 922px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.aboutus-ar-text69 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text74 {
  left: 168px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text76 {
  left: 292px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text78 {
  left: 428px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text80 {
  left: 558px;
  color: rgba(0, 0, 0, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text82 {
  left: 688px;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text84 {
  left: 851px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-login {
  top: 0px;
  left: 1550px;
  width: 80px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(126, 189, 194, 1);
}
.aboutus-ar-text86 {
  top: 15px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text88 {
  top: 13px;
  left: -100px;
  color: rgba(11, 34, 67, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutus-ar-text90 {
  top: 460px;
  left: 950px;
  color: rgb(0, 0, 0);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .aboutus-ar-top-menu {
    left: 200px;
    position: absolute;
  }
  .aboutus-ar-text53 {
    left: 450px;
    position: absolute;
  }
  .aboutus-ar-box3 {
    left: 900px;
    position: absolute;
  }
  .aboutus-ar-newsletter {
    left: 1100px;
    position: absolute;
  }
  .aboutus-ar-center-menu {
    left: 150px;
    position: absolute;
  }
  .aboutus-ar-login {
    left: 1250px;
    position: absolute;
  }
  .aboutus-ar-text90 {
    left: 750px;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .aboutus-ar-top-menu {
    left: 10px;
    position: absolute;
  }
  .aboutus-ar-text13 {
    left: 650px;
    position: absolute;
  }
  .aboutus-ar-down-menu {
    left: 10px;
    position: absolute;
  }
  .aboutus-ar-box3 {
    left: 800px;
    position: absolute;
  }
  .aboutus-ar-newsletter {
    left: 980px;
    position: absolute;
  }
  .aboutus-ar-main-menu {
    left: 100px;
    position: absolute;
  }
  .aboutus-ar-center-menu {
    left: 70px;
    position: absolute;
  }
  .aboutus-ar-login {
    left: 1000px;
    position: absolute;
  }
  .aboutus-ar-text90 {
    left: 550px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .aboutus-ar-text {
    width: 450px;
  }
  .aboutus-ar-text13 {
    left: 520px;
    width: 450px;
    position: absolute;
  }
  .aboutus-ar-box2 {
    left: 200px;
    position: absolute;
  }
  .aboutus-ar-text53 {
    left: 320px;
    position: absolute;
  }
  .aboutus-ar-box3 {
    left: 650px;
    position: absolute;
  }
  .aboutus-ar-newsletter {
    left: 750px;
    position: absolute;
  }
  .aboutus-ar-center-menu {
    left: -20px;
    position: absolute;
  }
  .aboutus-ar-text84 {
    left: 800;
    position: absolute;
  }
  .aboutus-ar-login {
    left: 810px;
    width: 70px;
    position: absolute;
  }
  .aboutus-ar-text88 {
    left: -140px;
    position: absolute;
  }
  .aboutus-ar-text90 {
    left: 500px;
    position: absolute;
  }
}
